.coinlist{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(158, 158, 194);
  box-sizing: border-box;
  padding: 10vmax;
}
.coin{
  margin: 1vmax 2vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 20vw;
  height: 40vh;
  padding: 1vmax;
  box-shadow: 0 4px 8px 0 rgba(182, 176, 176, 0.2), 0 6px 20px 0 rgba(167, 158, 158, 0.19);

}
.title{
  display: flex;
  
  background-color: rgb(158, 158, 194);
  justify-content: center;
  color: white;
  font-size: 5vmax;
  padding-top: 2vmax;
  text-transform: capitalize;
}
a{
  text-decoration: none;
  
}
a:hover{
  pointer-events: stroke;
}
.border{

  background-color:rgb(158, 158, 194) ;
  border-top: 3px solid white;
  width: 30vw;
}
.pagination{
  background-color:rgb(158, 158, 194) ;
  width: 100vw;
  height: 20vh;
  display: flex;
justify-content: center;
align-items: center;
}
.crypto{
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}
.mapContainer{
  height:50vh;
  width:50vw;
}
.mapBox{
  height:50vh;
  width:50vw;
}